
/* DARKMODE LIGHTMODE */

body.dark{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark nav{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark section{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark header{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark header div h3{
    background-color: transparent;
    color:var(--primary-text);
}


body.dark article{
    background: 
    linear-gradient(to bottom, 
    rgba(50, 0, 50,.333), 
    #0a0a0a5b), 
    url(./noise.svg);
    color:var(--primary-text);
    border: .111rem solid var(--border);

}

body.dark div{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark footer{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark h1{
    background-color: transparent;
    color: var(--title);
}
body.dark h2{
    background-color: transparent;
    color:var(--title);
}
body.dark section article h3{
    background-color: transparent;
    color:var(--subtitle);
}

body.dark p{
    background-color: transparent;
    color:var(--primary-text);
}
body.dark button{
    background-color: transparent;
    color:var(--primary-text);
}
body.dark ul{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark li{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark a{
    background-color: #260d2a;
    color:var(--primary-text);
}

body.dark main{
    background-color: transparent;
}

body.dark  
    .product-container--card img{
    width: 100%;
    max-width:1920x;
    max-height: 576px;
    height: auto;
    border-radius: 1.2rem;
    margin: 0;
    padding: 2.4rem .111rem;
    background-color: transparent;
  }

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: var(--bg);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .checkbox-label:after{
    background-color: var(--light-bg);
    width: 60px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: var(--primary-text);}
  
  .fa-sun {color: var(--primary-text);}
  
  .checkbox-label .ball {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    background-color: var(--text);
    color: var(--text);
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
    color: var(--text);
    background-color: var(--text);
  }
    