
/* DARKMODE LIGHTMODE */

body.dark{
    background-color: var(--background--dark);
    color:var(--primary-text);
}

body.dark nav{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark nav a{
    color: #fff;
    background-color: var(--component);
}

body.dark section{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark header{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark header h3{
    background-color: transparent;
    color:var(--primary-text);
}


body.dark article{
    color:var(--primary-text);
    border: .111rem solid var(--border);
    background-color: var(--component);
}



body.dark .slider--container{
    background-color: var(--component);
    }

/* secciones separadas y con colores */

body.dark .nav--navbar{
    background-color: var(--component);  
}

body.dark .header--section{
background-color: var(--component);
color: var(--light-text);
border: 1 solid var(--component);
}

body.dark .links--section{
background-color: var(--section--links);
color: var(--light-text);
}

body.dark .about--section{
background-color: var(--section--about);
color: var(--light-text);
}

body.dark .services--section{
color:var(--light-text);
background-color: var(--section--services);
}

body.dark .projects--section{
background-color: var(--section--projects);
color: var(--light-text);
}

body.dark .contact--section{
background-color: var(--section--contact);
color: var(--component);
}

body.dark .footer--section{
background-color: var(--component);
color: var(--light-text);
}

body.dark .section--art{
    background-color: var(--section--art);
    color: var(--light-text);
    }

    body.dark .section--livecoding{
    background-color: transparent;
    color: var(--light-text);
    }

    body.dark .section--videoart{
    background-color: var(--section--videoart);
    color: var(--light-text);
    }



body.dark div{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark footer{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark h1{
    background-color: transparent;
    color: var(--title);
}
body.dark h2{
    background-color: transparent;
    color:var(--title);
}
body.dark section article h3{
    background-color: transparent;
    color:var(--subtitle);
}

body.dark p{
    background-color: transparent;
    color:var(--primary-text);
}
body.dark button{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark ul{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark li{
    background-color: transparent;
    color:var(--primary-text);
}

body.dark a{
    background-color: #4a044e;
    color:var(--button-link);
}

body.dark main{
    background-color: transparent;
}



body.dark  
    .product-container--card img{
    width: 100%;
    max-width:1920x;
    max-height: 576px;
    height: auto;
    border-radius: 1.2rem;
    margin: 0;
    padding: 2.4rem .111rem;
    background-color: transparent;
  }

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: var(--component);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .checkbox-label:after{
    background-color: var(--background--dark);
    width: 60px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: var(--title);}
  
  .fa-sun {color: var(--component);}
  
  .checkbox-label .ball {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    background-color: var(--title);
    color: var(--text);
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
    color: var(--subtitle);
    background-color: var(--title);
  }
    

