  @media (min-width: 1024px){

/* secciones separadas y con colores */

.nav--navbar{
    background-color: var(--nav--navbar--light);
    }
    
    .header--section{
    display: flex;
    flex-direction: column;
    background-color: var(--header--section--light);
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    border: 1 solid var(--component);
    }
    
    .links--section{
    width: 100%;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: var(--section--links--light);
    }
    
    .about--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--section--about--light);
    align-items: center;
    justify-content: center;
    }

    .about--card{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        padding: 4.8rem;
        align-items: center;
        justify-content: center;
        text-align:center;
        border-radius: 2.4rem;
        }

    .services--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: var(--section--services--light);
    align-items: center;
    justify-content: center;
    }

    .services--card{
        width: 50%;
        height: auto;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        text-align: left;
        border-radius: 2.4rem;
    }

    .projects--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: var(--section--projects--light);
    align-items: center;
    justify-content: center;
    }

    .projects--card{
        width: 50%;
        height: auto;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        text-align: left;
        border-radius: 2.4rem;
    }
    
    .section--art{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: var(--section--art--light);
    align-items: center;
    justify-content: center;
    }

    .section--livecoding{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        background-color: var(--section--art--light);
        align-items: center;
        justify-content: center;
        }

    .art--card{
        width: 100%;
        height: auto;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        text-align: left;
        border-radius: 2.4rem;
    }
    
    .section--videoart{
    display:flex;
    flex-direction: column;
    background-color: var(--section--videoart--light);
    align-items: center;
    justify-content: center;
    }
    
    .contact--section{
    width: 100%;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: var(--section--contact--light);
    align-items: center;
    justify-content: center;
    }
    
    .footer--section{
    width: 100%;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: var(--footer--section--light);
    }

  }
