  @media (min-width: 1024px){
    body{
      background-color: var(--header-section);
    }


iframe{
  border:none;
  padding: 1.2rem;
  margin: .333rem;
  width: 100%;
  height: 480px;
}

    .header--section{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top:4rem;
      position: relative;
      background-color: transparent;
      }


    .header--section .header--logo{
      width: 2%;
      min-width: 320px;
      max-width: 240px;
      height:auto;
      border-radius: 0;
  }
    .header--section .bg-img{
      width: 100%;
      height: auto;
      max-height: 540px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: var(--rounded);
      background-color: transparent;
      margin:0 auto;
      background-size: cover;
      background-repeat: no-repeat;

  }

  .header--card{
      width: 100%;
      max-width: 540px;
      height: auto;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
    .header--section .header--card h1{
      font-family: "Roboto Flex", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-weight: 600;
      font-size: 6.4rem;
      color: var(--title-reset);
      background-color: rgba(20,0,20,.888);
      padding: .333rem;
      margin: .333rem;
  }
  
  .header--section .header--card p{
      font-size: var(--p);
      font-family: "Roboto Flex", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      color: var(--primary-text);
      padding: .999rem;
      background-color: rgba(40,0,40,.777);
      padding: .333rem;
      margin: .333rem;
  }

    .links--card{
        display: flex;
        flex-direction: column;
        width: 33%;
        height: auto;
        margin:3rem auto;
        padding-top: 2rem;
        padding-bottom: 4.8rem;
        align-items: center;
        justify-content: center;
        background-color: var(--component-light);
    }

    .about--card{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: auto;
        margin: 3.6rem auto;
        padding-top: 5.6rem;
        padding-bottom: 4.8rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        border-radius: 1.2rem;
        text-align: left;
        justify-content: center;
        align-items: center;
        background-color: var(--component-light);
        border: 1.2rem solid var(--component-light);
}

        .about--me--card{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: auto;
            margin: 1.2rem auto;
            padding-top: 4.8rem;
            padding-bottom: 4.8rem;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            border-radius: 1.2rem;
            text-align: left;
            justify-content: center;
            align-items: center;
            background-color: var(--component-light);
}

            .about--me--card p{
                display: flex;
                flex-direction: column;
                width: 90%;
                height: auto;
            }

            .projects--card{
                display:flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                margin: 2.4rem auto;
                text-align: left;
                padding: 2.4m;
                align-items: center;
                justify-content: center;
                background-color: var(--component-light);
            }

            .projects--card img{
              border-radius: 0;
            }
            .projects--card a{
              display: flex;
              flex-direction: column;
              width: 66%;
              height: auto;
              margin:1rem;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              padding: .999rem;
              border-radius: var(--rounded);
          }
          .projects--card h2{
            padding: 2.4rem;
        }
        .projects--card p{
          padding: 1.2rem;
      }
            .section--art{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                padding-top: 2.4rem;
                padding-bottom: 2.4rem;
                background-color: var(--section--art--light);
                align-items: center;
                justify-content: center;
                margin: 2.4rem auto;
                border-radius: 1.2rem;
            }

            .art--card{
                display: flex;
                flex-direction: column;
                width: 50%;
                height: auto;
                align-items: center;
                justify-content: center;
            }

            .livecoding--card{
                display: flex;
                flex-direction: column;
                width: 50%;
                height: auto;
                margin: 1.2rem auto;
                padding-top: 1.2rem;
                padding-bottom: 2.4rem;
                border-radius: 1.2rem;
                align-items: center;
                justify-content: center;
                background-color: var(--component-light);
            }
            .livecoding--card img{
                display: flex;
                flex-direction: column;
                width: 50%;
                height: auto;
                margin: 0 auto;
            }

            .livecoding--card a{
              display: flex;
              flex-direction: column;
              width: 40%;
              height: auto;
              margin: 0 auto;
              border-radius: var(--rounded);
          }

            .contact--card{
                display: flex;
                flex-direction: column;
                width: 50%;
                height: auto;
                margin: 1.2rem auto;
                padding-top: 8.8rem;
                padding-bottom:8.8rem;
                background-color: var(--component-light);
                align-items: center;
                justify-content: center;
                border-radius: var(--rounded);
            }

/* sliders! */

.slider--container{
    width: 100%;
    height: auto;
    padding: 1.2rem;
    }

  .bivio--slider {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
  }

  .section--videoart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: var(--section--livecoding--light);
    align-items: center;
    justify-content: center;
    margin: 1.2rem auto;
    border-radius: 1.2rem;
}
  
  .videoart--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 4.8rem auto;
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
    border-radius: 1.2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--component-light);
}

.videoart--card h3{
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-size: var(--h3);
    color: var(--title);
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
    text-align: center;
}

.videoart--card p{
    width: 90%;
    height: auto;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--p);
    padding-top: .333rem;
    padding-bottom: 2.4rem;
    text-align: left;
}

.videoart--card a{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: .333rem;
    margin-bottom: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded);
}

.videoart--card img{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
margin: 0 auto;
padding-top: 4rem;
padding-bottom: 4rem;
border-radius: 2.4rem;
}

  .videoarte--slider {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
  }
  
  /* slider */

.slider--container{
    width: 100%;
    height: auto;
    padding: 1.2rem;
    border-radius:1.2rem;
    background-color: var(--component-light);
    }

    .livecoding--slider {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overscroll-behavior-x: contain;
        scroll-snap-type:y proximity;
        margin: 0 auto;
        background-color: transparent;
      }
    
    .lc--slide{
        position: relative;
        scroll-snap-align: center;
        width: 90%;
        height: auto;
        min-width: 320px;
        max-width: 1024px;
        margin:0 auto;
        border-radius: 1.2rem;
        background-color: transparent;
        /* Para que la tarjeta no crezca mas de 768px */
      }
    
      .lc--slide a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33%;
        height: auto;
        margin: 0 auto;
        background-color: var(--button--light);
        color: var(--button--dark);
        padding: 1.2rem;
        border-radius: var(--rounded);
      }
    
      .lc--slide img{
        width: 33%;
        height: auto;
        margin: 1.2rem auto;
        border-radius: .333rem;
        padding: .111rem;
        background-color: transparent;
      }
    
  .bivio--slider {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
  }
  
  .bivio--slide{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 1024px;
    margin:0 auto;
    border-radius: 1.2rem;
    background-color: transparent;
    /* Para que la tarjeta no crezca mas de 768px */
  }

  .bivio--slide a{
    width: 95%;
    height: auto;
    background-color: var(--button--light);
    color: var(--button--dark);
    padding: 1rem;
    border-radius: 1.2rem;
  }

  .bivio--slide img{
    width: 100%;
    height: auto;
    margin: 1.2rem auto;
    border-radius: 1.2rem;
    padding: .333rem;
    background-color: transparent;
  }

  .videoarte--slider{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
    margin: 1.2rem auto;
    border-radius: 1.2rem;
  }

  h2{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.4rem;
  }
  
 
  .videoarte--slide{
    position: relative;
    scroll-snap-align: center;
    width: 80%;
    height: auto;
    min-width: 320px;
    max-width: 1024px;
    margin:0 auto;
    border-radius: 1.2rem;
    background-color: transparent;
    /* Para que la tarjeta no crezca mas de 768px */
  }

  .videoarte--slide a{
    width: 60%;
    height: auto;
    background-color: var(--button--light);
    color: var(--button--dark);
    padding: 1rem;
    border-radius: 1.2rem;
    margin: 0 auto;
  }

  .videoarte--slide img{
    width: 75%;
    height: auto;
    margin: 1.2rem auto;
    border-radius: 1.2rem;
    padding: .111rem;
    background-color: transparent;
  }


  }