@import url('https://fonts.googleapis.com/css2?family=Kalnia:wdth,wght@100..125,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --bg:#0c0a09;
    --light-bg:#eef4ff;
    --component: #1c1917;
    --title:#c026d3;
    --title-light:#3b0764;
    --subtitle-light:#6b21a8;
    --subtitle: #d946ef;
    --primary-text:#f4caff;
    --light-text:#222;
    --text:#f4caff;
    --link: rgb(230, 221, 206);
    --highlight: #9933993a;
    --border: #7e33994a;
    --h1:3.8122rem;
    --h2:2.3561rem;
    --h3:1.4562rem;
    --p:.9rem;
    }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition: background 0.1s linear;
    background-color: var(--light-bg);
    color:var(--secondary-text);
}




/* cheems coding */
.cheemscoding{
    width:100%;
    height: auto;
    max-width: 576px;
    min-width: 320px;
}

ul{
    list-style-type: none;
    text-align: left;
}

li{
    list-style-type: none;
    padding-top: .111rem;
    padding-bottom: .111rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    background-color: transparent;
    text-align: left;
}

ul li p{
    display: flex;
    flex-direction: column;
    text-align: left;
}

button{
    background-color: transparent;
    border: none;
}

button a{
    display: flex;
    flex-direction: column;
    color: var(--subtitle);
    font-size: var(--p);
    font-weight: 500;
    padding: .333rem;
    justify-content: center;
    align-items: center;
    border: .01rem solid var(--border);
    margin: .333rem;
    color: var(--light-text);
}

button a:hover{
    display: flex;
    flex-direction: column;
    color: var(--light-text);
    font-size: var(--p);
    font-weight: 400;
    margin: .333rem;
    padding: .333rem;
    border: .01rem solid var(--border);
}

.button-back .button-up{
    width: 100%;
    height: auto;
    padding: 10rem;
}

a{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42px;
    color: var(--light-text);
    text-decoration: none;
    padding: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: .333rem;
    transition: .5s;
    border: .1rem solid var(--border);
}
a:hover{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    color: var(--light-text);
    text-decoration: none;
    padding: .999rem;
    font-weight: 600;
    transition: .5s;
    border: .1rem solid var(--border);
}




/* SERVICES */

.services--cards{
    align-items: center;
    justify-content: center;
}

.services--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* navbar */

nav button{
    padding-left: 1rem;
    padding-right: 1rem;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    padding: 1.2rem;
    justify-content:center;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-bottom: .111rem solid var(--highlight);
    background-color: var(--light-bg);
}

main{
    background-color: var(--light-bg);
}


/* cabecera */

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 7rem;
    padding-bottom: 6.4rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* */
.artes-graficas{
    width: 100%;
    height: auto;
    padding-top: 1.666rem;
    padding-bottom: 3.2rem;
    margin: 0 auto;
}


header picture img{
    width: 100%;
    max-width:1024px;
    max-height: 576px;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    opacity: .96;
}
header div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

header div h1{
    display: flex;
    flex-direction: column;
    font-family: "Kalnia", serif;
    font-size: var(--h1);
    font-weight: 500;
    color: var(--title);
    margin: 0 auto;
    padding-top: .666rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    line-height: 4rem;

}

header div h2{
    font-size: var(--h3);
    font-weight: 400;
    margin: 0 auto;
    padding-top: .333rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--title-light);
}

header div h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: .333rem;
    padding-left: .999rem;
    padding-right: .999rem;
    text-align: center;
    text-justify: auto;
    color: var(--component);
    transition: .5s;
}

header div h3:hover{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: .333rem;
    padding-left: .999rem;
    padding-right: .999rem;
    text-align: center;
    text-justify: auto;
    color: var(--text);
    transition: .5s;
}


header p{
    font-size: var(--p);
    color: var(--title-light);
    padding:.999rem;
    font-weight: 600;
    text-justify: auto;
    text-align: center;
}


/* secciones y articulos */

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 320px;
    margin: 0 auto;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: none;
    padding-top: .999rem;
    padding-bottom: .333rem;

}
article div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 1.2rem;
    align-items: center;
    justify-content: center;
    padding-top: 3.6rem;
    padding-bottom: 1.8rem;
}

article div img{
    width: 100%;
    max-width:480px;
    max-height: 480px;
    height: auto;
    border-radius: 1.2rem;
}

article div a{
    width: 90%;
    max-width: 640px;
    height: auto;
    margin-top: .666rem;
    margin-bottom: .666rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    color: var(--light-text);  
}

.objetivo p{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 1.2rem;
    justify-content: center;
    align-items: center;
    color: var(--title-light);
}

article h2{
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 500;
    width: 100%;
    height: auto;
    padding-left: .222em;
    padding-right: .222rem;
    padding-top: 1.24rem;
    padding-bottom: 1.24rem;
    text-align: center;
    color: var(--subtitle-light);
}


article div h3{
    font-family: "Kalnia", serif;
    font-size: var(--h3);
    font-weight: 500;
    width: 100%;
    height: auto;
    padding-left: .999em;
    padding-right: .999rem;
    padding-top: .333rem;
    padding-bottom: .999rem;
    color: var(--subtitle-light);
    text-align: center;
}

article div p{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    color: var(--subtitle-light);
    font-weight: 500;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
    text-justify: auto;
    padding: .999rem;
    text-align: center;
}

article div ul li{
    width: 100%;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 500;
    color: var(--subtitle-light);
    text-align: center;
}

article div ul li h2{
    width: 100%;
    height: auto;
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 500;
    color: var(--subtitle-light);
}

article div ul li p{
    width: 100%;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 500;
    color: var(--light-text);
    padding: 1.2rem;
    margin: 0 auto;
    text-align: center;
}





/* sliders! */

.main-slider-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .product-container--slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
  /*  scroll-snap-type:y proximity;*/
    margin: 0 auto;
    padding: .111rem;
  }
  
  .product-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 768px;
    margin:0 auto;
    padding: 0;
    border-radius: 1.2rem;
    /* Para que la tarjeta no crezca mas de 768px */
  }
  
  .product-container--card a{
    background-color: transparent;
  }

  .product-container--card img{
    width: 100%;
    max-width:1024x;
    max-height: 576px;
    height: auto;
    border-radius: 1.2rem;
    margin: 0;
    padding: 0 .111rem;
  }


  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 6.4rem;
    padding-bottom: 7.2rem;
    position: relative;
    background-color: var(--light-bg);
  }

footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  footer div p{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    color: var(--light-text);
  }

  footer div img{
    padding:.666rem;
  }


