
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --background--light:#fdf4ff;
    --background--dark:#1c1917;
    --component: #1c1917ee;
    --component-light: #fae8ff;

  /* botones */
    --button--light:#86198f;
    --button--dark:#fff;

      /* text-color */
    --title:#c026d3;
    --title-reset:#dd2c18;
    --subtitle: #d946ef;
    --title-light:#c026d3;
    --subtitle-light:#3b0764;
    --primary-text:#f4caff;
    --light-text:#3b0764;

        /* background light */
        --nav--navbar--light:#fae8ff;
        --header--section--light:#e879f9;
        --section--links--light: #e879f9;
        --section--about--light: #e879f9;
        --section--services--light: #d946ef;
        --section--projects--light: #e879f9;
        --section--art--light: #d946ef;
        --section--livecoding--light: #fae8ff;
        --section--videoart--light: #e879f9;
        --section--contact--light: #d946ef;
        --footer--section--light: #e879f9;

    /* background dark */
    --nav--navbar:#4a044e;
    --header--section:#1c1917ee;
    --section--links: #1c1917ee;
    --section--about: #1c1917ee;
    --section--services: #d946ef;
    --section--projects: #b78ec3;
    --section--art: #8e23a7;
    --section--livecoding: #701a75;
    --section--videoart: #86198f;
    --section--contact: #4a044e;
    --footer--section: #fdf4ff;


       /* text sizes */
    --h1:3.8122rem;
    --h2:2.3561rem;
    --h3:1.4562rem;
    --p:.9rem;
    --rounded: 2.4rem;
    }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition: background 0.1s linear;
    background-color: #e879f9;
}

ul{
    list-style: none;
}

img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded);
}


button{
    border: none;
}

button a{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: var(--p);
    font-weight: 500;
    padding: .333rem;
    justify-content: center;
    align-items: center;
    margin: .333rem;
    border: .001rem solid var(--component);
    background-color: transparent;
    color: var(--background--dark);
}

button a:hover{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: var(--p);
    font-weight: 400;
    margin: .333rem;
    padding: .333rem;
    border: .001rem solid var(--component);
    background-color: transparent;
    color: var(--background--dark);
}



a{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 64px;
    text-decoration: none;
    padding: 1.2rem;
    align-items: center;
    justify-content: center;
    border-radius: .111rem;
    transition: .5s;
    margin: 1.2rem;
    border: .111rem solid var(--border);
    background-color: var(--button--light);
    color: var(--button--dark);
}
a:hover{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 64px;
    text-decoration: none;
    padding: 1.2rem;
    align-items: center;
    justify-content: center;
    border-radius: .111rem;
    transition: .5s;
    margin: 1.2rem;
    border: .111rem solid var(--border);
    background-color: var(--button--light);
    color: var(--button--dark);
}



/* navbar */

nav button{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    padding: 1.2rem;
    justify-content:center;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-bottom: .111rem solid var(--title);
}


main{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


/* secciones y articulos */


/* secciones separadas y con colores */

.nav--navbar{
background-color: var(--nav--navbar--light);
}

.header--section{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
border: 1 solid var(--component);
align-items: center;
justify-content: center;
text-align: center;
margin-top:4rem;
position: relative;
}

 .header--card{
    width: 100%;
    max-width: 540px;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header--section .header--logo{
    width: 55%;
    height:auto;
    border-radius: 0;
    padding: 1.2rem;
}

.header--section .bg-img{
    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    height:auto;
    min-width: 1080px;
    border-radius: 0;
}


.header--section  .header--card h1{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    color: var(--title);
    background-color: rgba(10,0,10,.999);
    margin: .333rem;
}

.header--section  .header--card p{
    font-size: var(--p);
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--primary-text);
    padding: .999rem;
    background-color: rgba(10,0,10,.999);
    margin: .333rem;
}


.links--section{
width: 100%;
height: auto;
padding-top: .333rem;
padding-bottom: .333rem;
background-color: var(--component-light);
}

.links--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 3rem auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--component-light);
    border-radius: var(--rounded);
}

.links--card a{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-top: .333rem;
    margin-bottom: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}


.about--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--about--light);
text-align: center;
}

.about--card{
display: flex;
flex-direction: column;
width: 95%;
height: auto;
margin: 2.4rem auto;
padding-top: 4.8rem;
padding-bottom: 4.8rem;
padding-left: 1.2rem;
padding-right: 1.2rem;
border-radius: var(--rounded);
text-align: left;
justify-content: center;
align-items: center;
background-color: var(--component-light);
}

.about--me--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 2.4rem auto;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: var(--rounded);
    justify-content: center;
    align-items: center;
    background-color: var(--component-light);
    }

        .about--me--card h3{
            font-family: "Roboto Flex", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: var(--h3);
            color: var(--title);
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            text-align: center;
        }
        
        .about--me--card p{
            font-family: "Roboto Flex", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
            font-size: var(--p);
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            text-align: left;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
        }
        


.about--card h2{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
font-size: var(--h2);
color: var(--title);
padding-top: 1.2rem;
padding-bottom: 1.2rem;
text-align: center;
}

.about--card h3{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--h3);
    color: var(--title);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
}

.about--card p{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--p);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
}

.about--card a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: .333rem;
    margin-bottom: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}


.services--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--services--light);
}

.services--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 2.4rem auto;
    text-align: center;
    border-radius: var(--rounded);
    padding:2.4rem;
    background-color: var(--component-light);
}

.services--card h2{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--h2);
    color: var(--title);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
    margin:0 auto;
    }
    
    .services--card h3{
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: var(--h3);
        color: var(--title);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: center;
    }
    
    .services--card p{
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: var(--p);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: center;
        
    }

    .services--card img{
        display: flex;
        flex-direction: column;
        width: 80%;
        height:auto;
        margin:0 auto;
        align-items: center;
        justify-content: center;
    }

.projects--section{
display:flex;
flex-direction: column;
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--projects--light);
}

.projects--card{
    display:flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: 2.4rem auto;
    text-align: left;
    border-radius: var(--rounded);
    align-items: center;
    justify-content: center;
    background-color: var(--component-light);
    padding: 2.4rem;
}
.projects--card img{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}


.projects--card h2{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: var(--h2);
    color: var(--title);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
    margin:0 auto;
    }
    
    .projects--card h3{
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 800;
        font-size: var(--h3);
        color: var(--title);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: center;
    }
    
    .projects--card p{
        font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
        font-weight: 400;
        font-size: var(--p);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: left;
    }

    .projects--card a{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: .333rem;
        margin-bottom: .333rem;
        align-items: center;
        justify-content: center;
        border-radius: var(--rounded);
    }
    .projects--card picture img{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        border-radius: var(--rounded);
    }


.section--art{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
align-items: center;
justify-content: center;
}

.art--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 2.4rem auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    border-radius: var(--rounded);
    align-items: center;
    justify-content: center;
    background-color: var(--component-light);
}   
    .art--card h3{
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
        font-size: var(--h3);
        color: var(--title);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: center;
    }
    
    .art--card p{
        width: 90%;
        height: auto;
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: var(--p);
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        text-align: left;
    }

    .art--card a{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-top: .333rem;
        margin-bottom: .333rem;
        align-items: center;
        justify-content: center;
        border-radius: var(--rounded);
    }

    .art--card img{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        border-radius: var(--rounded);
        padding: .999rem;
    }


    .section--livecoding{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 1.2rem auto;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        background-color: var(--section--livecoding--light);
        align-items: center;
        justify-content: center;
        border-radius: var(--rounded);
        }
        
        .livecoding--card{
            display: flex;
            flex-direction: column;
            width: 95%;
            height: auto;
            margin: 2.4rem auto;
            border-radius: var(--rounded);
            align-items: center;
            justify-content: center;
            background-color: var(--component-light);
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }

        .livecoding--card h3{
            font-family: "Kalnia", serif;
            font-weight: 500;
            font-size: var(--h3);
            color: var(--title);
            padding: 1.2rem;
            text-align: center;
        }
        
        .livecoding--card p{
            width: 90%;
            height: auto;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: var(--p);
            padding-top: .999rem;
            padding-bottom: .999rem;
            text-align: left;
        }

        .livecoding--card a{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            padding-top: .999rem;
            padding-bottom: .999rem;
            align-items: center;
            justify-content: center;
            border-radius: var(--rounded);
        }


.livecoding--card img{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: var(--rounded);
}

.section--videoart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: var(--section--livecoding--light);
    align-items: center;
    justify-content: center;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
}

.videoart--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 2.4rem auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: var(--rounded);
    align-items: center;
    justify-content: center;
    background-color: var(--component-light);
}

.videoart--card h3{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--h3);
    color: var(--title);
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
    text-align: center;
}

.videoart--card p{
    width: 90%;
    height: auto;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--p);
    padding-top: .333rem;
    padding-bottom: .333rem;
    text-align: left;
}

.videoart--card a{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: .333rem;
    margin-bottom: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded);
}

.videoart--card img{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
margin: 0 auto;
padding-top: 1.2rem;
padding-bottom: 1.2rem;
border-radius: var(--rounded);
}


/* contact section */

.contact--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--section--art--light);
    align-items: center;
    justify-content: center;
}

.contact--card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    background-color: var(--component-light);
    align-items: center;
    justify-content: center;
}

.contact--card p{
    font-size: var(--p);
    width: 100%;
    height: auto;
    text-align: center; 
}

.contact--card a{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 1.2rem auto;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded);
}




.footer--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 6.4rem;
    padding-bottom: 7.2rem;
    position: relative;
    background-color: var(--component-light);
}


.footer--card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer--card p{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
  }

  .footer--card img{
    padding:.666rem;
  }

/* slider */

.slider--container{
width: 95%;
height: auto;
padding: 1.2rem;
border-radius: var(--rounded);
background-color: var(--component-light);
}

.slider--card{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 1024px;
    margin:0 auto;
    border-radius: var(--rounded);
    background-color: transparent;
    /* Para que la tarjeta no crezca mas de 768px */
  }

  .slider--card a{
    width: 95%;
    height: auto;
    background-color: var(--button--light);
    color: var(--button--dark);
    padding: 1rem;
    border-radius: var(--rounded);
  }

  .slider--card img{
    width: 100%;
    height: auto;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
    padding: .111rem;
    background-color: transparent;
  }



.livecoding--slider{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
    border-radius: var(--rounded);
  }


/* slider */

.slider--container{
    width: 95%;
    height: auto;
    border-radius: var(--rounded);
    background-color: var(--component-light);
    }
    
    .lc--slide{
        position: relative;
        scroll-snap-align: center;
        width: 100%;
        height: auto;
        min-width: 320px;
        margin:0 auto;
        border-radius: var(--rounded);
        background-color: transparent;
        /* Para que la tarjeta no crezca mas de 768px */
      }
    
      .lc--slide a{
        width: 95%;
        height: auto;
        background-color: var(--button--light);
        color: var(--button--dark);
        padding: 1rem;
        border-radius: var(--rounded);
      }
    
      .lc--slide img{
        width: 100%;
        height: auto;
        margin: 1.6rem auto;
        border-radius: var(--rounded);
        background-color: transparent;
        padding: 0 .222rem;
      }
    




  .bivio--slider {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
  }
  
  .bivio--slide{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    margin:0 auto;
    border-radius: var(--rounded);
    background-color: transparent;
    /* Para que la tarjeta no crezca mas de 768px */
  }

  .bivio--slide a{
    width: 95%;
    height: auto;
    background-color: var(--button--light);
    color: var(--button--dark);
    padding: 1rem;
    border-radius: var(--rounded);
  }

  .bivio--slide img{
    width: 100%;
    height: auto;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
    background-color: transparent;
    padding: 0 .222rem;
  }



  .videoarte--slider{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
  }
  
 
  .videoarte--slide{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 1024px;
    margin:0 auto;
    border-radius: var(--rounded);
    background-color: transparent;
    /* Para que la tarjeta no crezca mas de 768px */
  }

  .videoarte--slide a{
    width: 95%;
    height: auto;
    background-color: var(--button--light);
    color: var(--button--dark);
    padding: 1rem;
    border-radius: var(--rounded);
  }

  .videoarte--slide img{
    width: 100%;
    height: auto;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
    padding: .111rem;
    background-color: transparent;
  }


