@import url('https://fonts.googleapis.com/css2?family=Kalnia:wdth,wght@100..125,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --background--light:#fdf4ff;
    --background--dark:#4a044e;
    --component: #1c1917ee;

  /* botones */
    --button--light:#86198f;
    --button--dark:#fff;

      /* text-color */
    --title:#c026d3;
    --subtitle: #d946ef;
    --title-light:#c026d3;
    --subtitle-light:#3b0764;
    --primary-text:#f4caff;
    --light-text:#3b0764;

        /* background light */
        --nav--navbar--light:#fae8ff;
        --header--section--light:#fae8ff;
        --section--links--light: #fae8ff;
        --section--about--light: #fae8ff;
        --section--services--light: #fae8ff;
        --section--projects--light: #fae8ff;
        --section--art--light--light: #fae8ff;
        --section--livecoding--light: #fae8ff;
        --section--videoart--light: #fae8ff;
        --section--contact--light: #fae8ff;
        --footer--section--light: #fae8ff;

    /* background dark */
    --nav--navbar:#4a044e;
    --header--section:#4a044e;
    --section--links: #8e23a7;
    --section--about: #e879f9;
    --section--services: #d946ef;
    --section--projects: #c026d3;
    --section--art: #8e23a7;
    --section--livecoding: #701a75;
    --section--videoart: #86198f;
    --section--contact: #4a044e;
    --footer--section: #fdf4ff;


       /* text sizes */
    --h1:3.8122rem;
    --h2:2.3561rem;
    --h3:1.4562rem;
    --p:.9rem;
    }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition: background 0.1s linear;
    background-color: var(--background--light);
}

/* cheems coding */
.cheemscoding{
    width:100%;
    height: auto;
    max-width: 576px;
    min-width: 320px;
}

ul{
    list-style-type: none;
    text-align: left;
}

li{
    list-style-type: none;
    padding-top: .111rem;
    padding-bottom: .111rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    background-color: transparent;
    text-align: left;
}

ul li p{
    display: flex;
    flex-direction: column;
    text-align: left;
}

button{
    border: none;
}

button a{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: var(--p);
    font-weight: 500;
    padding: .333rem;
    justify-content: center;
    align-items: center;
    margin: .333rem;
    border: .001rem solid var(--component);
}

button a:hover{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: var(--p);
    font-weight: 400;
    margin: .333rem;
    padding: .333rem;
    border: .001rem solid var(--component);
}

.button-back .button-up{
    width: 100%;
    height: auto;
    padding: 10rem;
}

a{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 64px;
    text-decoration: none;
    padding: 1.2rem;
    align-items: center;
    justify-content: center;
    border-radius: .111rem;
    transition: .5s;
    margin: 1.2rem;
    border: .111rem solid var(--border);
}
a:hover{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    text-decoration: none;
    padding: .999rem;
    font-weight: 600;
    transition: .5s;
    border: .111rem solid var(--border);
}

/* navbar */

nav button{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    padding: 1.2rem;
    justify-content:center;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-bottom: .111rem solid var(--title);
}


main{
display: flex;
flex-direction: column;
}


/* cabecera */

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* */
.artes-graficas{
    width: 100%;
    height: auto;
    padding-top: 1.666rem;
    padding-bottom: 3.2rem;
    margin: 0 auto;
}

header picture img{
    width: 100%;
    height: auto;
    max-width:1024px;
    max-height: 576px;
    padding-top:1.6rem;
    padding-bottom: 2.4rem;
    padding-right: 0;
    padding-left: 0;
    opacity: 1;
}

header h1{
    display: flex;
    flex-direction: column;
    font-family: "Kalnia", serif;
    font-size: var(--h1);
    font-weight: 500;
    margin: 0 auto;
    padding-top: .333rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    line-height: 4rem;

}

header h2{
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 600;
    margin: 0 auto;
    padding-top: .333rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

header h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: .333rem;
    padding-left: .999rem;
    padding-right: .999rem;
    text-align: center;
    text-justify: auto;
    transition: .5s;
}


header p{
    font-size: var(--p);
    padding:.999rem;
    font-weight: 600;
    text-justify: auto;
    text-align: center;
}


/* secciones y articulos */

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 320px;
    margin: 0 auto;
}


/* secciones separadas y con colores */



.nav--navbar{
background-color: var(--nav--navbar--light);
}

.header--section{
background-color: var(--header--section--light);
padding-top: 2.4rem;
padding-bottom: 2.4rem;
border: 1 solid var(--component);
}

.links--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--links--light);
}

.about--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--about--light);
}

.about--card{
width: 50%;
height: auto;
margin-top: 2.4rem;
margin-bottom: 2.4rem;
text-align: left;
padding: 6.4rem;
}



.services--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--services--light);
}

.services--card{
    width: 50%;
    height: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    text-align: left;
}

.projects--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--projects--light);
}

.projects--card{
    width: 50%;
    height: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    text-align: left;
    padding: 6.4rem;
}

.section--art{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--art--light);
}

.art--card{
    width: 50%;
    height: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.section--videoart{
background-color: var(--section--videoart--light);
}

.contact--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--section--contact--light);
}

.footer--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color: var(--footer--section--light);
}


article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 3.6rem;
    padding-bottom: 4.8rem;
    border-radius: 1.2rem;
    border: .001rem solid var(--component);
    margin-top:2.4rem;
    margin-bottom:2.4rem;
}

article img{
    width: 100%;
    height: auto;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    border-radius: 2.4rem;
}

article a{
    width: 80%;
    max-width: 640px;
    height: auto;
    margin-top: .666rem;
    margin-bottom: .666rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    background-color: var(--button--light);
    color:var(--primary-text);
    border-radius: 1.2rem;
}

.objetivo p{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 1.2rem;
    justify-content: center;
    align-items: center;
}

article h1{
    font-family: "Kalnia", serif;
    font-size: var(--h1);
    font-weight: 500;
    width: 100%;
    height: auto;
    padding-left: .222em;
    padding-right: .222rem;
    padding-top: 1.24rem;
    padding-bottom: 1.24rem;
    text-align: center;
}


article h2{
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 500;
    width: 100%;
    height: auto;
    padding-left: .222em;
    padding-right: .222rem;
    padding-top: 1.24rem;
    padding-bottom: 1.24rem;
    text-align: center;
}


article h3{
    font-family: "Kalnia", serif;
    font-size: var(--h3);
    font-weight: 500;
    width: 100%;
    height: auto;
    padding-left: .999em;
    padding-right: .999rem;
    padding-top: .333rem;
    padding-bottom: .999rem;
    text-align: center;
}

article p{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 500;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-justify: auto;
    padding: .999rem;
    text-align: left;
}

article ul li{
    width: 100%;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 500;
}

article ul li h2{
    width: 100%;
    height: auto;
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 500;
}

article ul li p{
    width: 100%;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 500;
    padding: 1.2rem;
    margin: 0 auto;
}

/* contact section */

.contact--section{
    width: 100%;
    height: auto;
    text-align: center;
}

.contact--card{
    display: flex;
    flex-direction: column;
}

.contact--card p{
    font-size: var(--p);
    width: 100%;
    height: auto;
    text-align: center; 
}


/* sliders! */

.main-slider-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .product-container--slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
  /*  scroll-snap-type:y proximity;*/
    margin: 0 auto;
    padding: .111rem;
  }
  
  .product-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 768px;
    margin:0 auto;
    padding: 0;
    border-radius: 1.2rem;
    /* Para que la tarjeta no crezca mas de 768px */
  }
  
  .product-container--card a{
    background-color: transparent;
  }

.profile-pic{
    width: 100%;
    height: auto;
}


  .product-container--card img{
    width: 100%;
    max-width:1920x;
    max-height: 576px;
    height: auto;
    border-radius: 1.2rem;
    margin: 0;
    padding: 2.4rem .111rem;
  }


  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 6.4rem;
    padding-bottom: 7.2rem;
    position: relative;
  }

footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  footer div p{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
  }

  footer div img{
    padding:.666rem;
  }


