@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body{
    width: 100%;
    height: auto;
    background-color:#222;
    color:rgb(250, 240, 255);
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    padding:.111rem;
    top:0;
    margin: 0;
    background-color:rgb(16, 2, 25);
}



nav img{
    display: flex;
    flex-direction: row;
    padding: .6rem;
}

.button-back{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10rem;
}

a{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: flex;
    width: 100%;
    height: 42px;
    color:rgba(200,200,200,1);
    text-decoration: none;
    padding: .666rem;
    margin-top: .333rem;
    background-color:rgba(22,11,22,.95);
    place-content: center;
    align-items: center;
    justify-content: center;
    border-radius: .333rem;
    font-weight: 600;
    transition: .5s;
}
a:hover{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color:rgb(250, 240, 255);
    text-decoration: none;
    padding: .999rem;
    background-color:rgba(33, 0, 33,.15);
    font-weight: 600;
    transition: .5s;
}

hr{
    border-color: rgb(255, 230, 255,.1);
    padding: .5rem;
}

ul{
    list-style-type: none;
    margin:1.6rem;
}

li{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding-top: .111rem;
    padding-bottom: .111rem;
    padding-left: 0;
    padding-right: 0;
    color:rgb(250, 240, 255);
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    place-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
header img{
    display:flex;
    flex-direction: column;
    width: 333px;
    height:auto;
    margin: 0 auto;
    padding: .444rem;
    align-items: center;
    place-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.246rem;
}

header h1{
    font-family: "Roboto", sans-serif;
    font-size: 3.6rem;
    font-weight: 600;
    color: #999999;
    margin: 0 auto;
}

header h2{
    font-family: "Roboto", sans-serif;
    font-size: 1.618rem;
    font-weight: 400;
    padding: .111rem;
    font-weight: 700;
    color:rgb(170, 0, 255);
    margin: 0 auto;
}

header h3{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    padding: .01rem;
    margin: 0 auto;
    font-weight: 700;
    color:rgb(250, 240, 255);
}

header p{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding:.111rem;
    font-weight: 400;
    color:rgb(250, 240, 255);
}

section{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
padding-top: 4rem;
padding-bottom: 4rem;
margin: 0 auto;
}

article{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
padding-left: 0;
padding-right: 0;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
margin: 0 auto;
}

article div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
    place-content: center;
    border-radius: 1.20rem;
}

article div h2{
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    height: auto;
    padding-left: 1.24rem;
    padding-right: 1.24rem;
    padding-top: 1.24rem;
    padding-bottom: 1.24rem;
    color:rgb(170, 0, 255);
}

article div h3{
    font-family: "Roboto", sans-serif;
    font-size:1.618rem;
    color:rgb(250, 240, 255);
    font-weight: 800;
    width: 100%;
    height: auto;
}

article div p{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-weight: 400;
    width: 100%;
    height: auto;
    color:rgb(250, 240, 255);
}

article div ul li{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-top: .01rem;
    padding-bottom: .01rem;
}

article div img{
    width: 100%;
    height: auto;
    border-radius: .999rem;
    margin:0 auto;
    padding:.111rem;
}

.objetivo{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.8rem;
    border-radius: .333rem;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    color:rgb(238, 202, 255);
    margin:0;
    padding: 0;
    align-items: center;
    place-content: center;
    justify-content: center;
    text-align: center;
}



/* sliders! */

.main-slider-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top:.111rem ;
    padding-bottom: .111rem;
    text-align: left;
  }
  

  .product-container--slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0;
  }
  
  .product-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 90%;
    height: auto;
    min-width: 400px;
    max-width: 1280px;
    margin:0;
    /* Para que la tarjeta no crezca mas de 768px */
  }
  
  .product-container--card img{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding:0;
    border-radius: 1.8rem;
  }
