@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body{
    width: 100%;
    height: auto;
    background-color:rgb(44, 0, 44);
    color:rgb(250, 240, 255);
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    padding:.333rem;
    top:0;
    margin: 0;
    background-color:rgb(33, 0, 33);
}

nav img{
    display: flex;
    flex-direction: row;
    padding: .666rem;
}

a{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: flex;
    width: 100%;
    height: auto;
    color:rgb(250, 240, 255);
    text-decoration: none;
    padding: .666rem;
    margin-top: .333rem;
    background-color:rgb(33,11,33   );
    place-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-weight: 600;
    transition: .5s;
}
a:hover{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color:rgb(250, 240, 255);
    text-decoration: none;
    padding: .999rem;
    background-color:rgb(33, 0, 33);
    font-weight: 600;
    transition: .5s;
}

hr{
    border-color: rgb(255, 230, 255,1);
    padding: .5rem;
}

ul{
    list-style-type: none;
    margin:1.6rem;
}

li{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding-top: .111rem;
    padding-bottom: .111rem;
    padding-left: 0;
    padding-right: 0;
    color:rgb(250, 240, 255);
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    place-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:rgb(22, 0, 22);;
    margin: 0 auto;
}
header img{
    display:flex;
    flex-direction: column;
    width: 333px;
    height:auto;
    margin: 0 auto;
    padding: .444rem;
    align-items: center;
    place-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.246rem;
}

header h1{
    font-family: "Roboto", sans-serif;
    font-size: 3.6rem;
    font-weight: 600;
    color:rgb(250, 240, 255);
    margin: 0 auto;
}

header h2{
    font-family: "Roboto", sans-serif;
    font-size: 1.618rem;
    font-weight: 400;
    padding: .111rem;
    font-weight: 700;
    color:rgb(250, 240, 255);
    margin: 0 auto;
}

header h3{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    padding: .01rem;
    margin: 0 auto;
    font-weight: 700;
    color:rgb(250, 240, 255);
}

header p{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding:.111rem;
    font-weight: 400;
    color:rgb(250, 240, 255);
}

section{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
padding-left: 0;
padding-right: 0;
padding-top: 3.6rem;
padding-bottom: 3.6rem;
margin: 0 auto;
background-color:rgb(11, 0, 11);
}

article{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
padding-left: 0;
padding-right: 0;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
margin: 0 auto;
background-color:rgb(11, 0, 11);
padding-top: 2rem;
padding-bottom: 2rem;
}

article div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
    padding-left: .111rem;
    padding-right: .111rem;
    margin-top:.333rem;
    margin-bottom: .333rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
    background-color:rgb(11, 0, 11);
    place-content: center;
    border-radius: 1.20rem;
}

article div h2{
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    height: auto;
    padding-left: 1.24rem;
    padding-right: 1.24rem;
    padding-top: 1.24rem;
    padding-bottom: 1.24rem;
    color:rgb(250, 240, 255);
}

article div h3{
    font-family: "Roboto", sans-serif;
    font-size:1.618rem;
    color:rgb(250, 240, 255);
    font-weight: 800;
    width: 100%;
    height: auto;
    padding-top: .111rem;
    padding-bottom: .111rem;
}

article div p{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding-top: .111rem;
    padding-bottom: .111rem;
    font-weight: 400;
    width: 100%;
    height: auto;
    color:rgb(250, 240, 255);
}

article div ul li{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

article div img{
    width: 100%;
    height: auto;
    border-radius: .999rem;
    margin:0 auto;
    padding:.333rem;
}

.objetivo{
    font-size: 1rem;
    font-weight: 400;
    background-color:rgb(11, 0, 11);
    padding: 1.618rem;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33vh;
    color:rgb(238, 202, 255);
    background-color:rgb(11, 0, 11);
    margin:0;
    padding: 0;
    align-items: center;
    place-content: center;
    justify-content: center;
    text-align: center;
}



/* sliders! */

section{
    margin:0;
    padding: 0 auto;
}

.main-slider-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top:.222rem ;
    padding-bottom: .222rem;
    text-align: left;
  }
  

  .product-container--slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0;
    padding: .5rem;
  }
  
  .product-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 400px;
    max-width: 1280px;
    margin:0;
    /* Para que la tarjeta no crezca mas de 768px */
  }
  
  .product-container--card img{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .5rem;
    border-radius: 1.8rem;
  }
