@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wdth,wght@100..125,100..700&display=swap');

:root{
    --bg:#0c0a09;
    --component: #1c1917;
    --title:#c026d3;
    --subtitle: #d946ef;
    --primary-text:#f4caff;
    --text:#f4caff;
    --link: rgb(230, 221, 206);
    --highlight: #993399;
    --border: #99339920;
    --h1:3.8122rem;
    --h2:2.3561rem;
    --h3:1.4562rem;
    --p:.9rem;
    }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: "Roboto", sans-serif;
    color:aliceblue;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
}


img{
    width: 100%;
    max-width:480px;
    max-height: 480px;
    height: auto;
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;
    padding-top: .111rem;
    padding-bottom: .111rem;
    padding-left: 0;
    padding-right: 0;
    color:var(--primary-text);
    margin: 0 auto;
}

button{
    background-color: transparent;
    border: none;
}

button a{
    display: flex;
    flex-direction: column;
    color: var(--subtitle);
    font-size: var(--p);
    font-weight: 500;
    padding: .333rem;
    justify-content: center;
    align-items: center;
    border: .01rem solid var(--border);
    margin: .333rem;
}

button a:hover{
    display: flex;
    flex-direction: column;
    color: var(--subtitle);
    font-size: var(--p);
    font-weight: 400;
    margin: .333rem;
    padding: .333rem;
    border: .01rem solid var(--border);
}

.button-back{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10rem;
}

a{
    font-family: "Roboto", sans-serif;
    font-size: var(--p);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42px;
    color:var(--link);
    background-color:var(--component);
    text-decoration: none;
    padding: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: .333rem;
    transition: .5s;
    border: .1rem solid var(--border);
}
a:hover{
    font-family: "Roboto", sans-serif;
    font-size: var(--p);
    color:var(--link);
    text-decoration: none;
    padding: .999rem;
    background-color:var(--component);
    font-weight: 600;
    transition: .5s;
    border: .1rem solid var(--border);
}


.portfolio--header .services--section .arbol--section .data--section .exp--section .videoart--section .livecoding--section .artworks--section
{
    display: flex;
    flex-direction: row;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--component);
}

/* SERVICES */

.services--cards{
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.services--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}



/* navbar */

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 1rem;
    justify-content:center;
    align-items: center;
    color: #fff;
    background-color: var(--component);
    position: fixed;
    z-index: 100;
    border-bottom: .15rem solid var(--highlight);
}



/* cabecera */

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 4.8rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg);
}

header picture img{
    width: 100%;
    max-width:480px;
    max-height: 480px;
    height: auto;
}

header div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

header div ul li h1{
    display: flex;
    flex-direction: column;
    font-family: "Kalnia", serif;
    font-size: var(--h1);
    font-weight: 500;
    color:var(--title);
    margin: 0 auto;
    padding-top: 1.666rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 4rem;

}

header div ul li h2{
    font-size: var(--h2);
    font-weight: 600;
    color: var(--primary-text);
    margin: 0 auto;
    padding-top: .333rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

header div ul li h3{
    font-family: "Roboto", sans-serif;
    font-size: var(--h3);
    font-weight: 400;
    color: var(--text);
    margin: 0 auto;
    padding-top: .666rem;
    padding-left: .999rem;
    padding-right: .999rem;
    text-align: left;
    text-justify: auto;
}


header p{
    font-size: var(--p);
    padding:.999rem;
    font-weight: 500;
    color: var(--text);
    text-justify: auto;
    text-align: left;
}


/* secciones y articulos */

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 320px;
    margin: 0 auto;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    margin: 0 auto;
    border: .001rem solid var(--border);
}
article div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    margin-top:2.4rem;
    margin-bottom: 2.4rem;
    border-radius: 1.2rem;
    align-items: center;
    justify-content: center;
}

article div img{
    width: 100%;
    max-width:480px;
    max-height: 480px;
    height: auto;
    border-radius: 1.2rem;
}

article div a{
    width: 100%;
    max-width: 640px;
    height: auto;
    margin-top: .666rem;
    margin-bottom: .666rem;
    padding-top: 1rem;
    padding-bottom: 1rem;   
}

.objetivo p{
    width: 100%;
    height: auto;
}

article h2{
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 500;
    width: 100%;
    height: auto;
    padding-left: .222em;
    padding-right: .222rem;
    padding-top: 1.24rem;
    padding-bottom: 1.24rem;
    color: var(--subtitle);
    text-align: center;
}
article div h3{
    font-family: "Kalnia", serif;
    font-size: var(--h3);
    font-weight: 400;
    width: 100%;
    height: auto;
    padding-left: .999em;
    padding-right: .999rem;
    color: var(--text);
    text-align: left;
    text-justify: auto;
    text-align: center;
}

article div p{
    font-family: "Roboto", sans-serif;
    font-size: var(--p);
    font-weight: 500;
    width: 100%;
    height: auto;
    color:var(--text);
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
    text-justify: auto;
    padding: 2rem;
}

article div ul li{
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

article div ul li h2{
    width: 100%;
    height: auto;
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 500;
}

article div ul li p{
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-size: var(--p);
    font-weight: 500;
}



/* sliders! */

.main-slider-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .product-container--slider {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
  /*  scroll-snap-type:y proximity;*/
    margin: 0 auto;
    padding: 1rem;
  }
  
  .product-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 768px;
    margin:0 auto;
    padding: 0;
    /* Para que la tarjeta no crezca mas de 768px */
  }
  
  .product-container--card a{
    background-color: transparent;
  }

  .product-container--card img{
    width: 100%;
    max-width:480px;
    max-height: 480px;
    height: auto;
    border-radius: 1.2rem;
    margin: 0;
    padding: 0 .333rem;
  }


  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--bg);
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  footer div p{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    color: var(--link);
  }

  footer div img{
    padding:.666rem;
  }


  @media (min-width: 1024px){

    header{
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 320px;
        height: auto;
        padding-top: 5.2rem;
        padding-bottom: 1rem;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--bg);
    }
    section{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        min-width: 320px;
        margin: 0 auto;
    }

    .product-container--slider {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overscroll-behavior-x: contain;
      /*  scroll-snap-type:y proximity;*/
        margin: 0 auto;
        padding: 0;
      }
      .product-container--card img{
        width: 100%;
        max-width:480px;
        max-height: 480px;
        height: auto;
        border-radius: 1.2rem;
        margin: 0;
        padding: .999rem 0;
      }

      header picture img{
        width: 60%;
        max-width:480px;
        max-height: 480px;
        height: auto;
        border-radius: var(--h3);
    
    }
    .services--section{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .services--cards{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        place-content: center;
    }

    .services--card{
        width: 100%;
        max-width: 320px;
        height: auto;
        padding: 1rem;
        background-color: var(--component);
        margin: 1rem;
    }
    
  }
