@import url('https://fonts.googleapis.com/css2?family=Kalnia:wdth,wght@100..125,100..700&display=swap');

:root{
    --bg:#0c0a09;
    --light-bg:#eef4ff;
    --component: #1c1917;
    --title:#c026d3;
    --title-light:#3b0764;
    --subtitle-light:#6b21a8;
    --subtitle: #d946ef;
    --primary-text:#f4caff;
    --light-text:#222;
    --text:#f4caff;
    --link: rgb(230, 221, 206);
    --highlight: #9933993a;
    --border: #7e33994a;
    --h1:3.8122rem;
    --h2:2.3561rem;
    --h3:1.4562rem;
    --p:.9rem;
    }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition: background 0.1s linear;
    background-color: var(--light-bg);
    color:var(--secondary-text);
}

/* DARKMODE LIGHTMODE */

body.dark{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark nav{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark section{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark header{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark article{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark div{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark footer{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark h1{
    background-color: var(--bg);
    color:var(--primary-text);
}
body.dark h2{
    background-color: var(--bg);
    color:var(--title);
}
body.dark h3{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark p{
    background-color: var(--bg);
    color:var(--primary-text);
}
body.dark button{
    background-color: var(--bg);
    color:var(--primary-text);
}
body.dark ul{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark li{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark a{
    background-color: var(--bg);
    color:var(--primary-text);
}

body.dark main{
    background-color: var(--bg);
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: var(--bg);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .checkbox-label:after{
    background-color: var(--light-bg);
    width: 60px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: var(--primary-text);}
  
  .fa-sun {color: var(--primary-text);}
  
  .checkbox-label .ball {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    background-color: var(--text);
    color: var(--text);
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
    color: var(--text);
    background-color: var(--text);
  }
    

img{
    width: 100%;
    max-width:480px;
    max-height: 480px;
    height: auto;
}



ul{
    list-style-type: none;
}

li{
    list-style-type: none;
    padding-top: .111rem;
    padding-bottom: .111rem;
    padding-left: 0;
    padding-right: 0;
    color:var(--primary-text);
    margin: 0 auto;
    background-color: transparent;
}

ul li p{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--light-text);
}

button{
    background-color: transparent;
    border: none;
}

button a{
    display: flex;
    flex-direction: column;
    color: var(--subtitle);
    font-size: var(--p);
    font-weight: 500;
    padding: .333rem;
    justify-content: center;
    align-items: center;
    border: .01rem solid var(--border);
    margin: .333rem;
    color: var(--light-text);
}

button a:hover{
    display: flex;
    flex-direction: column;
    color: var(--light-text);
    font-size: var(--p);
    font-weight: 400;
    margin: .333rem;
    padding: .333rem;
    border: .01rem solid var(--border);
}

.button-back .button-up{
    width: 100%;
    height: auto;
    padding: 10rem;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--p);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42px;
    color: var(--light-text);
    text-decoration: none;
    padding: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: .333rem;
    transition: .5s;
    border: .1rem solid var(--border);
}
a:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--p);
    color: var(--light-text);
    text-decoration: none;
    padding: .999rem;
    font-weight: 600;
    transition: .5s;
    border: .1rem solid var(--border);
}




/* SERVICES */

.services--cards{
    align-items: center;
    justify-content: center;
}

.services--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* navbar */

nav button{
    padding-left: 1rem;
    padding-right: 1rem;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    padding: 1.2rem;
    justify-content:center;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-bottom: .111rem solid var(--highlight);
    background-color: var(--light-bg);
}

main{
    background-color: var(--light-bg);
}


/* cabecera */

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 7rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header picture img{
    width: 100%;
    max-width:240px;
    max-height: 240px;
    height: auto;
    padding-right: 0;
    padding-left: 0;
}

header div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

header div ul li h1{
    display: flex;
    flex-direction: column;
    font-family: "Kalnia", serif;
    font-size: var(--h1);
    font-weight: 500;
    color: var(--title-light);
    margin: 0 auto;
    padding-top: .666rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    line-height: 4rem;

}

header div ul li h2{
    font-size: var(--h2);
    font-weight: 600;
    margin: 0 auto;
    padding-top: .333rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--title-light);
}

header div ul li h3{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--title-light);
    font-weight: 400;
    margin: 0 auto;
    padding-top: .666rem;
    padding-left: .999rem;
    padding-right: .999rem;
    text-align: center;
    text-justify: auto;
    color: var(--title);
}


header p{
    font-size: var(--p);
    color: var(--title-light);
    padding:.999rem;
    font-weight: 500;
    text-justify: auto;
    text-align: left;
}


/* secciones y articulos */

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 320px;
    margin: 0 auto;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: none;
    padding-top: .999rem;
    padding-bottom: .333rem;

}
article div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 1.2rem;
    align-items: center;
    justify-content: center;
    padding-top: 3.6rem;
    padding-bottom: 1.8rem;
}

article div img{
    width: 100%;
    max-width:480px;
    max-height: 480px;
    height: auto;
    border-radius: 1.2rem;
}

article div a{
    width: 100%;
    max-width: 640px;
    height: auto;
    margin-top: .666rem;
    margin-bottom: .666rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    color: var(--light-text);  
}

.objetivo p{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 1.2rem;
    justify-content: center;
    align-items: center;
    color: var(--title-light);
}

article h2{
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 500;
    width: 100%;
    height: auto;
    padding-left: .222em;
    padding-right: .222rem;
    padding-top: 1.24rem;
    padding-bottom: 1.24rem;
    text-align: center;
    color: var(--subtitle-light);
}
article div h3{
    font-family: "Kalnia", serif;
    font-size: var(--h3);
    font-weight: 400;
    width: 100%;
    height: auto;
    padding-left: .999em;
    padding-right: .999rem;
    color: var(--text);
    text-align: left;
    text-justify: auto;
    text-align: center;
    color: var(--light-text);
}

article div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--p);
    color: var(--light-text);
    font-weight: 500;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
    text-justify: auto;
    padding: .999rem;
    text-align: left;
}

article div ul li{
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--p);
    font-weight: 500;
    color: var(--subtitle-light);
    text-align: center;
}

article div ul li h2{
    width: 100%;
    height: auto;
    font-family: "Kalnia", serif;
    font-size: var(--h2);
    font-weight: 500;
    color: var(--subtitle-light);
}

article div ul li p{
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--p);
    font-weight: 500;
    color: var(--light-text);
    padding: 1.2rem;
    margin: 0 auto;
    text-align: center;
}



/* sliders! */

.main-slider-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .product-container--slider {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
  /*  scroll-snap-type:y proximity;*/
    margin: 0 auto;
    padding: 1rem;
  }
  
  .product-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 768px;
    margin:0 auto;
    padding: 0;
    border-radius: 1.2rem;
    /* Para que la tarjeta no crezca mas de 768px */
  }
  
  .product-container--card a{
    background-color: transparent;
  }

  .product-container--card img{
    width: 100%;
    max-width:480px;
    max-height: 480px;
    height: auto;
    border-radius: 1.2rem;
    margin: 0;
    padding: 0 .333rem;
  }


  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  footer div p{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    color: var(--light-text);
  }

  footer div img{
    padding:.666rem;
  }


  @media (min-width: 1024px){


    html,body{
        transition: background 0.1s linear;
        background-color: var(--light-bg);
        color:var(--secondary-text);
    }

    /* DARKMODE LIGHTMODE */

body.dark body{
    background-color: var(--light-bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark nav{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark section{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark header{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark article{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark div{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark footer{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark h1{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}
body.dark h2{
    background-color: var(--bg);
    color:var(--title);
    transition: background 0.1s linear;
}
body.dark h3{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark p{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
  
}
body.dark button{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}
body.dark ul{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark li{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

body.dark a{
    background-color: var(--bg);
    color:var(--primary-text);
    transition: background 0.1s linear;
}

.checkbox {
        opacity: 0;
        position: absolute;
 }

.checkbox-label{
        background-color: var(--bg);
        width: 50px;
        height: 30px;
        border-radius: 90px;
        position: relative;
        padding: .20rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: .111rem solid var(--highlight);
      }
      
      .fa-moon {color: #f1c40f;}
      
      .fa-sun {color: #f39c12;}
      
      .checkbox-label .ball {
        background-color: var(--light-bg);
        width: 22px;
        height: 22px;
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
      }
      
      .checkbox:checked + .checkbox-label .ball {
        transform: translateX(24px);
      }

    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 320px;
        height: auto;
        padding-top: 2rem;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1024px,2fr));
        width: 40%;
        height: auto;
        min-width: 320px;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        align-items: flex-start;
        justify-content: center;
    }

    article{
       width: 90%;
       height: auto;
       display: flex;
       flex-direction: column; 
       align-items: center;
       text-align: center;
       padding-top: 2rem;
       padding-bottom: 4rem;
       margin-top: .666rem;
       margin-bottom: .666rem;
       border: .155rem solid var(--highlight);
       border-radius: 1.2rem;
    }

    article div{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        padding-top: 2.8rem;
        padding-bottom: 2.8rem;
        border-radius: 1.2rem;
        align-items: center;
        justify-content: center;
    }

    .product-container--slider {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overscroll-behavior-x: contain;
        scroll-snap-type:y proximity;
        margin: 0 auto;
        padding: .111rem;
      }
      .product-container--card img{
        width: 66%;
        max-width:480px;
        max-height: 480px;
        height: auto;
        border-radius: 1.2rem;
        margin: 0;
        padding: .999rem 0;
      }

      header picture img{
        width: 50%;
        max-width:480px;
        max-height: 480px;
        height: auto;
        border-radius: var(--h3);
        padding-top: 3rem;
        padding-bottom: .333rem;
    
    }
    .services--section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 1.2rem;
    }
    .services--cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        place-content: center;
        text-align: center;
    }
    .services--card{
        width: 100%;
        max-width: 320px;
        height: auto;
        padding: 1.2rem;
        margin: 1rem;
    }


.exp--card{
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    padding: .333rem;
    text-align: center;
}

.exp--card div{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: .333rem;
    text-align: center;
    border-radius: 1.8rem;
}


.product-container--slider{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1024px,2fr));
    width: 100%;
    height: auto;
    min-width: 320px;
    margin: 0 auto;
}

.product-container--card{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    border:0 solid var(--border); 
    border-radius: 2rem;
}


    
  }
